.countries {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    margin: 0 !important;
    padding: 1em !important;
    z-index: 9999;
    overflow: auto;
}

.countries.hidden {
    display: none;
}

.countries .close {
    float: right;
    margin-bottom: 32px;
    font-size: 23px;
    font-style: normal;
}

.message {
    display: flex;
    justify-content: space-between;
}

.message .count {
    margin: 0 15px;
}

.message i {
    transform: rotate(90deg);
    display: inline-flex;
    font-style: normal;
    font-size: 1.5em;
}

header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.ui.toggle.checkbox {
    margin-top: 4px;
}

.ui.items>.item .extra {
    font-size: 0.7em;
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
    font-size: 1.6rem !important;
}

.ui.two.statistics .statistic {
    margin: 2em 0;
}

.ui.list {
    font-size: 1.2em;
    background: rgba(250, 247, 247);
}

.ui.divided.list>.item {
    padding: 7px 0;
}

.ui.items>.item>.content>.header:not(.ui) {
    font-size: 0.8em;
}

.ui.text.container {
    margin: 0 !important;
    padding: 20px;
    min-height: 100vh;
    background: rgba(250, 247, 247, 0.87);
}

.stats {
    padding-bottom: 45px;
}

.total-count-button {
    display: flex;
}

.darkMode h2, .darkMode .note, .darkMode .mini.button, .darkMode .ui.header, .darkMode .footer, .darkMode header h2, .darkMode .ui.toggle.checkbox input:checked~label, .darkMode .statistic .label, .darkMode .ui.items>.item>.content>a.header, .darkMode .ui.divided.list>.item, .darkMode h3 {
    color: rgba(255, 255, 255, 0.87) !important;
}

.ui.text.container.darkMode, .darkMode .ui.list, .darkMode .loader {
    background: #1d1d1d;
}

.darkMode .ui.message {
    background: #333333;
    color: rgba(255, 255, 255, 0.87) !important;
}

.darkMode .ui.items>.item .extra {
    color: rgba(249, 247, 247, 0.6);
}

.darkMode .ui.divided.list>.item {
    border-top-color:  rgba(34,36,38, 0.8);
}

.note {
    font-size: 0.5em;
    margin-top: 5px;
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(250, 247, 247, 0.95);
    z-index: 99999;
}

.loader.hideLoader {
    display: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 0.8em;
    align-items: center;
}

.footer p {
    margin: 0
}

.footer .accounts a {
    margin-left: 15px;
}

.mini.button {
    font-size: 700;
}

.darkMode .mini.button {
    box-shadow: 0 0 0 1px rgba(252, 253, 254, 0.15) inset;
}